.select {
  display: inline-block;
  position: relative;
  min-width: 13rem;
}

.chevron {
  position: absolute;
  top: 0.8rem;
  right: 1rem;
  transition: 0.3s;
}
.open {
  transform: rotate(90deg);
  transition: 0.3s;
}

.select-container {
  padding: 0.75rem 1.5rem;
  border-radius: 0.5rem;
  border: 2px solid var(--color-200);
  background-color: var(--color-50);
  color: var(--color-700);
  font-family: var(--open-sans);
  font-size: 0.875rem;
  font-weight: 700;
  cursor: pointer;
}

.options-container {
  margin-top: 0.25rem;
  padding: 0.5rem;
  z-index: 1;
  position: absolute;
  min-width: 13rem;
  border-radius: 0.5rem;
  border: 2px solid var(--color-200);
  background: var(--color-50);
  box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.24);
}

.select-option {
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  border: 0.09rem solid transparent;
  color: var(--color-700);
  font-family: var(--open-sans);
  font-size: 0.875rem;
  font-weight: 700;
  cursor: pointer;
  list-style-type: none;
}
.select-option:hover {
  border-radius: 0.25rem;
  background: rgba(56, 85, 123, 0.4);
  color: var(--color-600);
}

.options-container {
  margin-top: 0.25rem;
  padding: 0.5rem;
  z-index: 1;
  position: absolute;
  min-width: 13rem;
  border-radius: 0.5rem;
  border: 2px solid var(--color-200);
  background: var(--color-50);
  box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.24);
}

.select-option {
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  border: 0.09rem solid transparent;
  color: var(--color-700);
  font-family: var(--open-sans);
  font-size: 0.875rem;
  font-weight: 700;
  cursor: pointer;
  list-style-type: none;
}
.select-option:hover {
  border-radius: 0.25rem;
  background: rgba(56, 85, 123, 0.4);
  color: var(--color-600);
}
