.filters-button {
  display: none;
  justify-content: center;
  align-items: center;
  padding: 0.6rem 1.3rem;
  border-radius: 0.5rem;
  border: 2px solid var(--color-200);
  background-color: var(--color-50);
}

.side-panel {
  display: none;
  position: fixed;
  width: 80%;
  height: 100%;
  right: 0;
  top: 0;
  z-index: 100;
  padding: 2rem;
  background-color: var(--color-50);
}

.side-panel-chevron {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.chevron-text {
  color: var(--color-700);
  font-family: var(--quicksand);
  font-size: 1.4rem;
  font-weight: 600;
}

.side-panel-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.side-panel-divider {
  margin: 1.5rem 2rem;
  border: 1px solid rgba(190, 199, 208, 0.5) !important;
  border-radius: 0.5rem;
}

.side-panel-sort {
  display: none;
}

.backdrop {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 99;
}

@media (max-width: 960px) {
  .filters-button {
    display: flex;
  }

  .backdrop {
    display: block;
  }

  .side-panel.visible {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.4);
  }
}

@media (max-width: 768px) {
  .side-panel-sort {
    display: block;
    margin: 0rem 2rem;
  }
}

@media (max-width: 425px) {
  .side-panel {
    padding: 1.5rem 1rem;
    width: 90%;
  }
}
