.badge {
  padding: 0.35rem 0.75rem;
  border-radius: 0.55rem;
  font-family: var(--quicksand);
}

.badge-normal {
  font-size: 14px;
  font-weight: 500;
  color: var(--color-400);
  border: 2px solid var(--color-200);
}

.badge-danger {
  font-size: 0.875rem;
  font-weight: 700;
  color: var(--color-50);
  background: #cc0e00;
  box-shadow: 0rem 0rem 0.7rem 0rem rgba(204, 14, 0, 0.7);
}
