.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0.75rem 1.5rem;
  gap: 0.5rem;
  border: 0;
  border-radius: 0.5rem;
  outline-offset: 0.125rem;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  line-height: normal;
  font-size: 1.125rem;
  font-weight: 700;
}

.btnPrimary {
  color: var(--color-50);
  background: var(--color-800);
  box-shadow: 0px 0px 8px 0px rgba(29, 36, 45, 0.75);
}
.btnPrimary:hover {
  background: var(--color-900);
  transition: 0.75s;
}
.btnPrimary:active {
  background: var(--color-800);
  transition: 0.75s;
}
.btnPrimary:focus {
  outline: 0.125rem solid var(--color-800);
  transition: 0.075s;
}

.btnSecondary {
  color: var(--color-600);
  background: var(---color-50);
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.2);
}
.btnSecondary:hover {
  color: var(--color-50);
  background: var(--color-600);
  transition: 0.75s;
}
.btnSecondary:active {
  color: var(--color-600);
  background: var(---color-50);
  transition: 0.75s;
}
.btnSecondary:focus {
  outline: 0.125rem solid var(--color-600);
  transition: 0.075s;
}

.btnPrimary:disabled,
.btnSecondary:disabled {
  opacity: 0.5;
}
