.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0.75rem 1.5rem;
  gap: 0.5rem;
  border: 0;
  border-radius: 0.5rem;
  outline-offset: 0.125rem;
  font-family: var(--open-sans);
  font-size: 1.05rem;
  font-weight: 700;
}

.btn-primary {
  color: var(--color-50);
  background: var(--color-800);
  box-shadow: 0px 0px 8px 0px rgba(29, 36, 45, 0.75);
}
.btn-primary:hover {
  background: var(--color-900);
  transition: 0.75s;
}
.btn-primary:active {
  background: var(--color-800);
  transition: 0.75s;
}
.btn-primary:focus {
  outline: 0.125rem solid var(--color-800);
  transition: 0.075s;
}

.btn-secondary {
  color: var(--color-600);
  background: var(---color-50);
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.2);
}
.btn-secondary:hover {
  color: var(--color-50);
  background: var(--color-600);
  transition: 0.75s;
}
.btn-secondary:active {
  color: var(--color-600);
  background: var(---color-50);
  transition: 0.75s;
}
.btn-secondary:focus {
  outline: 0.125rem solid var(--color-600);
  transition: 0.075s;
}

.btn-primary:disabled,
.btn-secondary:disabled {
  opacity: 0.5;
}
