.card {
  position: relative;
  width: 296px;
  overflow: hidden;
  border-radius: 1rem;
  background: var(--color-50, #f9fafb);
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
}

.cardBody {
  display: grid;
  row-gap: 1rem;
  padding: 1.5rem;
}

.cardImage {
  object-fit: cover;
}

.cardHeading {
  display: flex;
  align-items: center;
  color: var(--color-800);
  font-family: var(--open-sans);
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: 0.02rem;
  margin-bottom: 0;
}

.cardRating {
  color: var(--color-800);
  font-family: var(--open-sans);
  font-style: normal;
  line-height: normal;
  font-size: 1rem;
  font-weight: 700;
  margin-left: 0.5rem;
  letter-spacing: 0.05rem;
  margin-bottom: 0;
}

.cardDescription {
  color: var(--color-500);
  font-family: var(--open-sans);
  font-style: normal;
  line-height: normal;
  font-size: 0.875rem;
  font-weight: 400;
  margin-bottom: 0rem;
}

.cardDiscount {
  color: var(--color-400);
  font-family: var(--open-sans);
  font-style: normal;
  line-height: normal;
  font-size: 0.75rem;
  font-weight: 600;
  text-decoration-line: line-through;
  letter-spacing: 0.03rem;
  margin-bottom: 0;
}

.cardPrice {
  color: var(--color-700, #15273c);
  font-family: var(--open-sans);
  font-style: normal;
  line-height: normal;
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: 0.04rem;
  margin-bottom: 0;
}
