.search-bar {
  display: flex;
  align-items: center;
  padding: 0.75rem 1rem;
  gap: 0.5rem;
  width: 100%;
  border-radius: 0.5rem;
  border: 0.125rem solid var(--color-100);
  background-color: var(--color-100);
}
.search-bar:hover {
  border: 0.125rem solid var(--color-400);
}

.search-input,
.search-input::placeholder {
  width: 100%;
  outline: none;
  font-family: var(--quicksand);
  font-weight: 500;
  font-size: 1rem;
  border: 0;
  color: var(--color-300);
}

.search-input {
  color: var(--color-400);
  background-color: transparent;
}
