.search-bar {
  display: flex;
  align-items: center;
  padding: 0.5rem 1rem;
  width: 18.5rem;
  gap: 0.5rem;
  border-radius: 0.5rem;
  border: 0.125rem solid var(--color-200);
  background-color: var(--color-50);
}
.search-bar:hover {
  border: 0.125rem solid var(--color-400);
}

.search-icon {
  width: 1.5rem;
  height: 1.5rem;
}

.search-input,
.search-input::placeholder {
  outline: none;
  font-family: var(--quicksand);
  font-weight: 500;
  font-size: 1rem;
  width: 100%;
  border: 0;
  color: var(--color-300);
}

.search-input {
  color: var(--color-400);
  background-color: var(--color-50);
}

@media (max-width: 960px) {
  .search-bar {
    width: 100%;
  }
}
