.heading,
.description {
  margin: 0;
  font-family: var(--open-sans);
}

.heading {
  color: var(--color-900);
  font-size: 2.5rem;
  font-weight: 700;
}

.description {
  color: var(--color-400);
  font-size: 0.875rem;
  font-weight: 600;
}
