nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 2rem;
  z-index: 1;
  padding: 0.5rem 2rem;
  margin: 0rem 8.88rem;
  border-radius: 1rem;
  background-color: var(--color-50);
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
}

nav .title {
  color: var(--color-900);
  font-family: var(--quicksand);
  font-size: 2rem;
  font-weight: 700;
  text-decoration: none;
}

nav ul {
  display: flex;
  margin: 0;
  gap: 3rem;
}

nav ul li {
  list-style: none;
}

.nav-links {
  display: block;
  padding: 0.5rem;
  margin: 0 0.5rem;
  border-radius: 0.5rem;
  color: var(--color-900);
  font-family: var(--open-sans);
  font-size: 1rem;
  font-weight: 600;
  text-decoration: none;
  cursor: pointer;
}
.nav-links:hover {
  color: var(--color-600);
}
.selected {
  opacity: 0.5;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.5rem;
}

nav .menu {
  display: none;
  position: absolute;
  top: 1.3rem;
  right: 2rem;
}

@media (max-width: 1300px) {
  nav {
    margin: 0rem 2.88rem;
  }
  nav ul {
    gap: 1rem;
  }
}

@media (max-width: 920px) {
  nav {
    margin: 0rem 2rem;
    padding: 1rem 4rem 1rem 2rem;
  }

  nav ul {
    gap: 0.3rem;
  }

  .nav-container {
    display: none;
  }

  nav .menu {
    display: flex;
  }
}

@media (max-width: 600px) {
  nav .menu {
    display: flex;
  }

  nav {
    padding: 1rem;
    flex-direction: column;
    align-items: flex-start;
  }

  nav ul {
    display: none;
    flex-direction: column;
    width: 100%;
    margin-bottom: 0.25rem;
  }

  nav ul.open {
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
    padding: 0;
    margin: 0.5rem 0rem;
  }

  nav ul li {
    width: 100%;
    text-align: center;
  }

  .nav-links {
    margin: 0.25rem 0rem;
    padding: 0.75rem;
  }
  .nav-links:hover {
    background: var(--color-300);
  }
}
