.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  z-index: 10;
  top: 3rem;
  width: 90%;
  min-height: 48px;
  margin: 3rem auto;
  transition: all 0.3s ease-in-out;
}

.navbar hr {
  display: none;
  border: 0.063rem solid rgba(190, 199, 208, 0.5) !important;
  border-radius: 0.5rem;
}

.navbar-floating {
  padding: 1rem 1.5rem;
  top: 2rem;
  border-radius: 1rem;
  background-color: var(--color-50);
  box-shadow: 0 0 1.5rem rgba(0, 0, 0, 0.2);
}

.navbar-logo {
  min-width: 10rem;
  color: var(--color-900);
  font-family: var(--quicksand);
  font-size: 2rem;
  font-weight: 700;
  text-decoration: none;
}

.navbar-search {
  display: flex;
  width: 100%;
}

.navbar-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  min-width: 10rem;
  gap: 1.5rem;
}

.navbar-container li {
  list-style: none;
}

.navbar-menu {
  display: none;
  position: absolute;
  top: 0rem;
  right: 0rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.navbar-item {
  display: flex;
  align-items: center;
  border-radius: 0.5rem;
  cursor: pointer;
}

.navbar-button-label {
  display: none;
  color: var(--color-900);
  font-family: var(--quicksand);
  font-size: 1rem;
  font-weight: 600;
}

@media screen and (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar-menu {
    display: flex;
  }

  .navbar-floating .navbar-menu {
    top: 1.25rem;
    right: 1.5rem;
  }

  .navbar-search {
    display: none;
  }

  .navbar hr {
    display: flex;
    width: 100%;
  }

  .navbar-container {
    display: none;
  }

  .navbar-container li {
    width: 100%;
  }

  .navbar-container.expanded {
    display: flex;
    flex-direction: column;
    margin: 1rem 0rem 0.5rem 0rem;
    width: 100%;
    gap: 0.5rem;
  }

  .navbar-item {
    justify-content: center;
    padding: 0.75rem;
    width: 100%;
    gap: 1rem;
  }
  .navbar-item:hover {
    background: var(--color-300);
  }

  .navbar-button-label {
    display: block;
  }
}
