.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(16rem, 1fr));
  gap: 2rem;
}

.product-counter {
  margin: 1rem 0rem;
  color: var(--color-400);
  font-family: var(--quicksand);
  font-size: 0.875rem;
  font-weight: 600;
}

.load-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1.5rem 0rem;
}
