.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, 18.5rem);
  gap: 2rem;
}

.product-counter {
  margin: 1rem 0rem;
  color: var(--color-400);
  font-family: var(--quicksand);
  font-size: 0.875rem;
  font-weight: 600;
}

.load-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1.5rem 0rem;
}

@media (max-width: 1100px) {
  .card-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 960px) {
  .card-grid {
    margin-right: -2rem;
    grid-template-columns: repeat(auto-fill, 10.18rem);
    gap: 1rem;
  }
}

@media (max-width: 425px) {
  .card-grid {
    margin-right: 0;
    justify-content: center;
    gap: 1.5rem;
  }

  .product-counter {
    display: flex;
    justify-content: center;
  }
}

@media (max-width: 388px) {
  .card-grid {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
