.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, 18.5rem);
  gap: 2rem;
}

.product-counter {
  margin: 1rem 0rem;
  color: var(--color-400);
  font-family: var(--open-sans);
  font-size: 0.875rem;
  font-weight: 600;
}

.load-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1.5rem 0rem 2rem;
}

@media (max-width: 1100px) {
  .card-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 680px) {
  .card-grid {
    grid-template-columns: repeat(auto-fill, 100%);
  }
}
