*,
*:after,
*:before {
  box-sizing: border-box;
}

.checkbox-input {
  position: absolute;
  height: 0rem;
  width: 0rem;
  overflow: hidden;
  white-space: nowrap;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);

  &:checked + .checkbox-tile {
    border-color: var(--color-600);
    color: var(--color-600);
    background: rgba(56, 85, 123, 0.3);
    &:before {
      opacity: 1;
      transform: scale(1);
    }
    .checkbox-label {
      margin-left: 1rem;
      color: var(--color-600);
    }
  }
}

.checkbox-tile {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  border: 0.125rem solid var(--color-200);
  cursor: pointer;
  transition: 0.2s ease-in;

  &:before {
    content: "";
    display: block;
    position: absolute;
    top: 0.4rem;
    left: 0.5rem;
    width: 1.25rem;
    height: 1.25rem;
    opacity: 0;
    border: 0;
    border-radius: 50%;
    transform: scale(0);
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='192' height='192' fill='%2338557B' viewBox='0 0 256 256'%3E%3Crect width='256' height='256' fill='none'%3E%3C/rect%3E%3Cpolyline points='216 72.005 104 184 48 128.005' fill='none' stroke='%2338557B' stroke-linecap='round' stroke-linejoin='round' stroke-width='32'%3E%3C/polyline%3E%3C/svg%3E");
    background-size: 1rem;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    transition: 0.2s ease-in;
  }

  &:hover {
    border-color: var(--color-600);
    &:before {
      transform: scale(1);
      opacity: 0;
    }
    .checkbox-label {
      color: var(--color-600);
    }
  }
}

.checkbox-label {
  color: var(--color-400);
  font-family: var(--quicksand);
  font-size: 0.75rem;
  font-weight: 600;
  text-transform: capitalize;
  transition: 0.2s ease-in-out;
}
