.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4rem 8.875rem 2.5rem 8.875rem;
  gap: 2.5rem;
  background-color: var(--color-200);
}

.footerLogo {
  font-family: "Quicksand", sans-serif;
  font-style: normal;
  line-height: normal;
  font-size: 3rem;
  font-weight: 700;
  text-decoration: none;
  color: var(--color-900);
}

.footerItem {
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  color: var(--color-400);
}
