.slider-wrapper {
  justify-content: center;
  margin-left: 1rem;
  margin-right: 0.2rem;
  gap: 2rem;
}

.slider-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
  margin-top: 1rem;
  gap: 1rem;
}

.slider-field {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 0.25rem;
}

.input-field {
  padding: 0.4rem 1rem;
  border-radius: 0.5rem;
  background-color: var(--color-50);
  border: 0.125rem solid var(--color-200);
  color: var(--color-300);
  font-family: var(--quicksand);
  font-weight: 600;
  font-size: 0.9rem;
}
.input-field:hover,
.input-field:focus {
  outline: 0;
  border: 0.125rem solid var(--color-400);
}

.input-field-label {
  color: var(--color-700);
  font-family: var(--quicksand);
  font-size: 0.85rem;
  font-weight: 600;
}
