.slider-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.8rem;
}

.slider-heading {
  margin-left: -1rem;
  color: var(--color-800);
  font-family: var(--quicksand);
  font-size: 1rem;
  font-weight: 700;
}

.slider-fields {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 1.5rem;
  margin-left: -1rem;
  gap: 0.35rem;
}

.input-field {
  display: flex;
  align-items: center;
  padding: 0.4rem 1rem;
  border-radius: 0.5rem;
  max-width: 6.5rem;
  border: 0.125rem solid var(--color-200);
  background-color: var(--color-50);
  color: var(--color-300);
  font-family: var(--quicksand);
  font-weight: 600;
  font-size: 0.9rem;
}
.input-field:hover {
  border: 0.125rem solid var(--color-400);
}

.input-field-label {
  color: var(--color-700);
  font-family: var(--quicksand);
  font-size: 0.85rem;
  font-weight: 600;
}
