.main-container {
  display: grid;
  grid-template-columns: minmax(0, 294px) 1fr;
  gap: 2rem;
  width: 90%;
  margin: 4rem auto 1rem;
}

@media (max-width: 960px) {
  .main-container {
    grid-template-columns: 1fr;
    margin-top: 3.5rem;
  }

  .filter-column {
    display: none;
  }
}
