:root {
  --color-50: #f9fafb;
  --color-100: #f4f5f7;
  --color-200: #ebeef2;
  --color-300: #bec7d0;
  --color-400: #9da8b8;
  --color-500: #5c6777;
  --color-600: #38557b;
  --color-700: #15273c;
  --color-800: #1d242d;
  --color-900: #070c15;

  --open-sans: "Open Sans", sans-serif;
  --quicksand: "Quicksand", sans-serif;
}

body {
  margin: 2rem 8.87rem 0rem;
  gap: 2rem;
}
