.main-grid {
  display: grid;
  grid-template-rows: auto minmax(0, 1fr) auto;
  gap: 2rem;
}

.left-column {
  display: flex;
  flex-direction: column;
}

.right-column {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 2rem;
}

@media (max-width: 680px) {
  .main-grid {
    justify-content: center;
  }
}
